<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <h1 class="display-1">Refresh for Random Brewdog Beer!</h1>

  <div class="row">
    <div class="card-columns">
      
      <div class="card border-info mb-3" style="max-width: 18rem;">
        <a href="#"><img class="rounded mx-auto d-block" src="{{ beer.img }}" alt="" width="146" height="563"></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">{{ beer.name }}</a>
          </h4>
          <p class="card-text">{{ beer.tag }}</p>
          <p class="card-text">{{ beer.abv }} %</p>
          <p class="card-text">{{ beer.desc }}</p>
          <div class="card-footer">
              <small class="text-muted">bet thats a good one..</small>
          </div>
        </div>
      </div>
      
    </div>

  <!-- /.row -->

  <!-- Pagination
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
    </li>
  </ul>

</div>-->
<!-- /.container -->